body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


#filters{
	background: #F0F8FF;
	padding: 20px;
	height: 400px;
	width: 250px;
	
}

#reviews{
	padding: 20px;
	
}

#create{
	
	margin: 20px;
}

